NEXT_PUBLIC_SUPABASE_URL=https://eeldlrstipmafirjvogl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=https://YOUR-VERCEL-DOMAIN/api/meta/callback
META_GRAPH_VERSION=v24.0
